* {
    padding: 0;
    margin: 0;
    transition: all 500ms linear;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}

.success {
    position: absolute;
    display: block;
    top: 20%;
    left: 50%;
    padding: 10px;
    margin: 12px;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    background: rgb(167, 255, 197);
    color: rgb(0, 87, 29);
    border-radius: .2em;
    z-index: 999;
}


.danger {
    position: absolute;
    display: block;
    top: 20%;
    left: 50%;
    padding: 10px;
    margin: 12px;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    background: rgb(255, 167, 167);
    color: rgb(87, 0, 0);
    border-radius: .2em;
    z-index: 999;
}


.center-container {
    position: relative;
    display: block;
    width: 75%;
    top: 20px;
    margin: 5%;
    margin-left: 0;
    left: 20%;
    background: #f0f0f0;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.center-container .wrapper {
    position: relative;
    display: block;
}

.center-container .wrapper .head {
    position: relative;
    width: inherit;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.center-container .wrapper .head h2{
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
}

.center-container .wrapper .head button{
    position: absolute;
    border: none;
    outline: none;
    padding: 10px;
    right: 120px;
    top: 15px;
    font-weight: 500;
    background: #15c349;
    color: #fff;
    border-radius: .2em;
    cursor: pointer;
}

.center-container hr {
    margin: 5px;
    border: none;
    outline: none;
    border: 1px solid #cecece;
}

.center-container .content {
    /* opacity: 0; */
    display: none;
    top: -100%;
    transition: all 2s ease;
}
.center-container .content.active {
    position: relative;
    display: block;
    top: 100%;
    /* opacity: 1; */
    width: 100%;
}

.center-container .content .wrapper .head {
    background: #ccc;
}

.center-container .content .wrapper .head h4 {
    font-weight: 500;
}

.center-container .content .wrapper .data li {
    margin-top: 5px;
}

.center-container .content .wrapper .data li h4 {
    color: #f0f0f0;
}

.warning {
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 20px;
    color: #7c6600;
    background: #ffd00090;
}

.warning-info {
    background-color: #fcc586df;
    color: #7b4200df;
    padding: 2px;
    font-size: 14px;
    letter-spacing: 0.1em;
    border-radius: .3em;
}

.center-container .content .wrapper .data li h4.cleared {
    background-color: #86fc88df;
    color: #028f04;
    padding: 3px;
    font-size: 14px;
    letter-spacing: 0.1em;
    border-radius: .3em;
}

.center-container .content .wrapper .data li h4 a {
    text-decoration: none;
    background-color: #868cfcdf;
    color: #00055ddf;
    padding: 2px;
    font-size: 14px;
    letter-spacing: 0.1em;
    border-radius: .3em;
}

.center-container .content .wrapper .data li h4 {
    color: #f0f0f0;
}

.center-container .content .wrapper .data li:hover {
    box-shadow: 2px 0px 0px 2px rgba(255, 188, 4, 0.2);
}

.center-container .content .wrapper .data li:nth-child(even) {
    background: #00302cb9;
}   